certifi==2026.7.22
charset-normalizer==3.5.1
idna==3.19
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.6.0
keyring==25.7.0
more-itertools==11.1.0
mss==10.2.0
pillow==12.3.0
pyobjc-core==12.2.2
pyobjc-framework-ApplicationServices==12.2.2
pyobjc-framework-Cocoa==12.2.2
pyobjc-framework-CoreMedia==12.2.2
pyobjc-framework-CoreText==12.2.2
pyobjc-framework-Quartz==12.2.2
pyobjc-framework-ScreenCaptureKit==12.2.2
requests==2.34.2
urllib3==2.7.0
